<extend name="./Common/home_base" />

<block name="content">
    <div>
        <table class="table table-bordered">
            <caption>战前国际关系史</caption>
            <thead>
            <tr>
                <th>体系</th>
                <th>基本内容</th>
                <th>主要矛盾</th>
                <th>本质特征</th>
                <th>转换动力</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td style="width:300px">{$vo.system}</td>
                    <td style="width:200px">{$vo.content}</td>
                    <td style="width:450px">{$vo.contradiction}</td>
                    <td style="width:200px">{$vo.characteristics}</td>
                    <td style="width:200px">{$vo.motivation}</td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>

