
.grid {
  margin: 0 20px;
  //border: solid 2px red;
  .grid-item {
    border: solid 2px black;
    height: 100px;
    .content {
      width: 1400px;
      float: left;
    }
    .handle {
      margin-left: 20px;
      width: 200px;
      float: left;
      .handle_normal {
        width: 100px;
        float: left;

      }
      .handle_emphasis {
        float: left;

      }
    }
  }
}

