<!--<html>
<head>
    <meta charset="UTF-8">
    <title>目录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/lib/bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/js/lib/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/lib/bootstrap.js"></script>
</head>
<body>-->
<extend name="./Common/home_base"/>

<block name="content">
    <div>
        <a href="{:U('Relation/index')}">国际关系史</a>
        <a href="{:U('Principle/index')}">政治学原理</a>
        <a href="{:U('Deutsch/index')}">德语</a>
        <a href="{:U('Marxism/index')}">政治</a>
    </div>
</block>

<!--
</body>
</html>-->
