<!--
<html>
<head>
    <meta charset="UTF-8">
    <title>425政治学原理-名词解释</title>
    <link rel="stylesheet" href="__PUBLIC__/css/lib/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/waterfall.css">
    <script type="text/javascript" src="__PUBLIC__/js/lib/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/lib/bootstrap.js"></script>
</head>
<body>
-->
<extend name="./Common/home_base"/>

<block name="content">
    <!--<div class="main">-->
    <div class="table_bar">
        <div class="table_button">
            <button class="btn btn-default" type="button"><a href="add_definition">添加</a></button>
        </div>
    </div>

    <div class="grid" id="grid">
        <volist name="definition_list" id="vo">
            <div class="grid-item" id="{$vo.id}">
                <div class="content">
                    {$vo.id} | {$vo.content}
                </div>
                <div class="handle">
                    <div class="handle_normal">
                        <p><a href="javascript:void(0)" onclick="handle_normal({$vo['id']},2)">要再看</a></p>
                        <p><a href="javascript:void(0)" onclick="handle_normal({$vo['id']},1)">记住了</a></p>
                    </div>
                    <div class="handle_emphasis">
                        <p><a href="javascript:void(0)" onclick="handle_emphasis({$vo['id']})">重点</a></p>
                    </div>
                </div>
            </div>
        </volist>
    </div>

    <!--</div>-->

    <!--<table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div class="grid" id="grid">
            <volist name="definition_list" id="vo">
                <tr>
                    <div class="grid-item" id="{$vo.id}">
                        <td>
                            <div class="content">
                                {$vo.id} | {$vo.content}
                            </div>
                        </td>
                        <td>
                            <div class="handle">
                                <div class="handle_normal">
                                    <p><a href="javascript:void(0)" onclick="handle_normal({$vo['id']},2)">要再看</a></p>
                                    <p><a href="javascript:void(0)" onclick="handle_normal({$vo['id']},1)">记住了</a></p>
                                </div>
                                <div class="handle_emphasis">
                                    <p><a href="javascript:void(0)" onclick="handle_emphasis({$vo['id']})">重点</a></p>
                                </div>
                            </div>
                        </td>
                    </div>
                </tr>
            </volist>
        </div>
        </tbody>
    </table>-->
    <block name="extra_css">
        <link rel="stylesheet" href="__PUBLIC__/css/waterfall.css">
    </block>
    <block name="extra_js">

        <script type="text/javascript" src="__PUBLIC__/js/waterfall.js"></script>
        <script type="text/javascript">
            $(function () {

            });

            /*$('#grid').scroll(function () {
             alert(clientHeight);
             })*/


        </script>
    </block>
</block>

<!--
</body>
</html>-->
