<!--<html>
<head>
    <meta charset="UTF-8">
    <title>国际关系史</title>
    <link rel="stylesheet" href="__PUBLIC__/css/lib/bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/js/lib/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/lib/bootstrap.js"></script>
</head>
<body>-->
<extend name="./Common/home_base"/>

<block name="content">
<div>
    <p><a href="./definition.html">名词解释</a></p>
    <p><a href="./definition.html">名词解释</a></p>
    <p><a href="./definition.html">名词解释</a></p>
    <p><a href="./definition.html">名词解释</a></p>
</div>
</block>
<!--
</body>
</html>-->
