<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/home.css">
    <link rel="stylesheet" href="__PUBLIC__/css/lib/bootstrap.css">
    <block name="extra_css"></block>
</head>
<body>
<div class="main">
    <block name="content"></block>
</div>

<block name="extra_css"></block>
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lib/bootstrap.js"></script>
<block name="extra_js"></block>
</body>

</html>